# Environment, config, keys, and secrets
*.env

# Output
dist/
vite.config.*.timestamp-*

# Dependencies
node_modules/
.npm/

# IDEs
.vscode/
.idea/

# macOS Metadata
.DS_Store

# Test coverage
coverage/