@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  @apply h-screen;
  @apply w-screen;
  @apply overflow-x-hidden;
  @apply overflow-y-scroll;
}

#app {
  @apply h-full;
  @apply w-full;
}

.support-center-widget {
  position: fixed;
  z-index: 9999;
  display: block;
  bottom: 0px;
  right: 10px;
}